#music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    background: $basis-color;
    .music-logo {
        display: block;
        width: $logo-width;
        height: $logo-height;
        margin-left: 10px;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-indent: -9999px; //隐藏文字,利于seo
    }
    .btn-player {
        display: inline-block;
        height: $download-height;
        padding: 0 12px;
        margin-right: 10px;
        line-height: $download-line-height;
        font-size: 14px;
        color: $download-color;
        background: $download-background;
        border-radius: $download-border-radius;
    }
}

