$body-background: #f4f4f4;
$basis-color: #31c27c;

$header-height: 44px;

$logo-height: 25px;
$logo-width: 90px;

$download-background: #149c5a;
$download-color: #fff;
$download-border-radius: 99px;
$download-height: 28px;
$download-line-height: 28px;

$tab-item-height: 40px;
