@import "reset";
@import "var";
@import "rec";
@import "header";
@import "slider";
@import "tab";
@import "helper";
@import "rank";
@import "search";
@import "player";


body {
    font: 12px/1.4 "hiragino sans gb",arial;
    color: #555;
    background: #f4f4f4;
}

.noscroll {
  overflow: hidden;
}
