@import "reset";
@import "var";
@import "rec";
@import "header";
@import "slider";
@import "tab";
@import "helper";


body {
    font: 12px/1.5 "hiragino sans gb",arial;
    color: #555;
    background: $body-background;
}

